

fudge 127.127.1.0 stratum 10

server {{ ntp_server }}

driftfile /var/lib/ntp/drift



# By default, exchange time with everybody, but don't allow configuration.
restrict -4 default kod notrap nomodify nopeer noquery limited
restrict -6 default kod notrap nomodify nopeer noquery limited

# Local users may interrogate the ntp server more closely.
restrict 127.0.0.1
restrict ::1


